/logs/
project/project/
project/target/
target/
tmp
.history
/dist/
/.idea
/*.iml
.cache/
/out/
/.idea_modules/
.classpath
.project
/RUNNING_PID
/.settings
.DS_Store
*.iml
codacy.pylint.conf
npm-debug.log
config
.bloop
.metals/
.vscode/
.codacy.json
codacy-coverage-reporter-linux-*
codacy-coverage-reporter-darwin-*
classes/
src/test/resources/codacy-coverage.json
/.codacy-coverage/
metals.sbt
